* {
  font-family: "Lato", sans-serif;
}


.wppContainer {
  position: fixed;
  bottom: 130px;
  right: 10px;
  z-index: 9999;
}



.loadingContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.bannedMessage {
  font-size: 40px;
  text-align: center;
}

.containerP{
  position: relative;
}

.pp{
  position: absolute;
  margin-left: 30%;
  bottom: 150px;
}


.pp2{
  position: absolute;
  margin-left: 43%;
  bottom: 120px;
}