.mainContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 85px;
  padding: 5px 40%;
  background-color: rgb(150, 82, 177);
}

.link {
  color: black;
  text-decoration: none;
}

.link:hover {
  cursor: pointer;
  font-stretch: 7;
  text-decoration: underline;
  text-shadow: 1px 1px 2px #0000005d;
}
