.divLP {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90vh;
}

.titles{

  margin-bottom: 5%;
  margin-top: 13%;
}

.title{
  color: rgba(31, 30, 30, 0.844);
  font-size: 70px;
}

.text {
  color: rgba(41, 41, 41, 0.844);
  font-size: 45px;
  margin: 0;
  padding-bottom: 70px;
}

.btn {
  text-decoration: none;
  width: 200px;
  height: 50px;
  font-size: 14px;
  color: #f2f2f2;
  background-color: #1d1f24;
  border: none;
  border-radius: 20px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  margin: 10px;
}


.btn:hover {
  background-color: #434343;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.82);
  color: #fff;
  transform: translateY(-2px);
}

.btn:hover{
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.421);
  transition: 0.2s;
}


.btnS{
  text-decoration: none;
  color: white;
}

.back{
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgb(255,255,255);
  background: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(252,218,255,1) 100%);
  color: #af1cc2;
}