.divTextBtn {
  display: flex;
  flex-direction: column;
  padding-top: 20px;
  padding-left: 2px;
}

.text {
  color: rgb(248, 248, 248);
  font-family: 'myFont';
  font-size: 45px;
  margin: 0;
  padding-bottom: 70px;
  text-shadow: 0 0 10px rgb(83, 0, 63), 0 0 42px #420234, 0 0 82px #520441;
}

.btn {
  font-family: 'myFont2';
  font-size: 30px;
  color: rgb(240, 235, 245);
  background-color: #31011d7c;
  border-color: rgb(240, 235, 245);
  border-radius: 10%;
  cursor: pointer;
  padding: 6px;
  margin-bottom: 10px;
}

.btn:hover {
  font-size: 33px;
  color: rgb(184, 26, 26);
  background-color: #dedef5;
  border-color: rgb(184, 26, 26);
}

@media screen and (max-width: 700px) {
  .divLP {
    width: 10%;
    margin-left: auto;
    margin-right: auto;
    justify-content: space-around;
  }
  
  .btn {
    font-size: 22px;
    padding: 6px;
    margin-left: 0px;
  }
  
  .btn:hover {
    font-size: 25px;
  }
  
  .img {
    width: 100px;
    height: 100px;
    margin-top: auto;
    margin-bottom: auto;
    margin-right: 18px;
    padding-left: 0px;
  }
}

.centeredTitle {
  display: flex;
  justify-content: center;
  align-items: center;
}

.centeredText {
  display: flex;
  justify-content: center;
  align-items: center;
}

.loginBtn {
  margin-left: auto;
  margin-right: 10px;
}

.signupBtn {
  margin-left: auto;
}