/* estilos details*/
/* 
*{
    box-sizing: border-box;
    padding: 0%;
    margin: 0%;
    background-color: #252525;
    font-family: Arial, Helvetica, sans-serif;
    color: azure;
  } */
  button{
    cursor: pointer;
  }
  h3{
    padding: 15px;
  }
  
  /* CONTENEDOR PRINCIPAL 1 */
  .mainContainer{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  .productImg{
    background-color: purple;
    height: 85%;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    margin: 20px;
  }
  .img{
    height: 70%;
    width: 70%;
    /* background-color: azure; */
  }

  .imgProducto{
    height: 100%;
  }
  
  /* CONTENEDOR PRINCIPAL 2 */
  .details{
    height: 100%;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    border-radius: 15px;
    margin: 20px;
  }
  .buyNow{
    width: 70%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 20px;
    border-radius: 15px;
    background-color: purple;
    flex-wrap: wrap;
  }
  .colorSize{
    width: 80%;
    height: 40%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 15px;
    border-radius: 15px;
    background-color: purple;
  }
  div, label, input, h3{
    background-color: transparent;
    border: none;
  }
  .cart{
    width: 70%;
    height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  .cart > button{
    padding: 5%;
    border-radius: 18px;
    background-color: purple;
    display: flex;
    flex-direction: row;
    align-items: center;
    color: azure;
    font-weight: 600;
  }

  .bttnBack{
    width: 100px;
    height: 65px;
    padding: 5%;
    border-radius: 18px;
    background-color: purple;
    color: azure;
    font-weight: 600;
  }
  
  /* INPUTS */
  .color, .size{
    border-radius: 100%;
    width: 20px;
    height: 20px;
    margin: 10px;
    cursor: pointer;
  }
  .size{
    background-color: azure;
    color: #252525;
    font-weight: 700;
    width: 25px;
    height: 25px;
  }
  
  /* ICONOS */
  .icon{
    background-color: transparent;
    font-size: larger;
    margin: 0px 10px;
  }
  