.details {
  max-width: 70dvh;
}

/* CONTENEDOR PRINCIPAL 1 */
.mainContainer {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.description {
  background-color: rgba(255, 255, 255, 0.551);
  border-radius: 30px;
  padding: 50px;
  max-width: 50dvh;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.121);
}

.color {
  background-color: black;
}

.productImg {
  background-color: rgba(255, 255, 255, 0.551);
  height: 75%;
  width: 30%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
  margin: 20px;
  padding: 2%;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.121);
}
.img {
  height: 60%;
  width: 60%;
  margin-top: 15%;
}

.divGaleryImg,
.bttnArrow {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.bttnArrow {
  background-color: transparent;
  border: none;
  width: 30px;
  height: 100%;
  cursor: pointer;
}

.imgProducto {
  max-height: 100%;
  max-width: 100%;
  border-radius: 20px;
}

/* CONTENEDOR PRINCIPAL 2 */
.details {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  border-radius: 15px;
}
.buyNow {
  width: 20%;
  padding-top: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.cart {
  width: 70%;
  height: 50px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

/* INPUTS */
.color,
.size {
  border-radius: 100%;
  width: 20px;
  height: 20px;
  margin: 10px;
  cursor: pointer;
  text-align: center;
  justify-content: center;
  align-items: center;
}
.size {
  background-color: azure;
  color: #252525;
  font-weight: 700;
  width: 25px;
  height: 25px;
  text-align: center;
  justify-content: center;
  align-items: center;
}

/* ICONOS */
.icon {
  background-color: transparent;
  font-size: larger;
  margin: 0px 10px;
}

.button {
  width: 160px;
  height: 60px;
  font-size: 14px;
  color: #ffffff;
  background-color: #1d1f24;
  border: none;
  border-radius: 20px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

.button:hover {
  background-color: #434343;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.82);
  color: #fff;
  transform: translateY(-2px);
}

.button:active {
  transform: translateY(-1px);
}

.containerSA {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px;
}

.buttonSelect {
  width: 150px;
  height: 50px;
  margin: 20px;
  font-size: 14px;
  color: #ffffff;
  background-color: #1d1f24;
  border: none;
  border-radius: 20px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

.buttonSelect:hover {
  background-color: #434343;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.82);
  color: #fff;
  transform: translateY(-2px);
}

.buttonSelect:active {
  transform: translateY(-1px);
}

.option {
  text-align: center;
}

.back {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  background-image: linear-gradient(
    to top,
    rgb(252, 218, 255) 0%,
    #ffffff 100%
  );
}

.back2 {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-direction: column;
  height: 100vh;
  display: flex;
  justify-content: center;
  background-image: linear-gradient(
    to top,
    rgb(252, 218, 255) 0%,
    #ffffff 100%
  );
}

.containerComentarios {
  border: 1px solid black;
  width: 60%;
  height: 40%;
}

.enviarBut {
  display: flex;
}

.inputC {
  border: 1px solid black;
  width: 50dvh;
  height: 3dvh;
}

.reviewss {
  display: flex;
  flex-direction: column;
  width: 80%;
  justify-content: center;
  border: 1px solid black;
}

.info {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 20px;
  margin: 20px;
}

.stars {
  width: 20px;
}

.reviewss2 {
  width: 80%;
  height: 50%;
  display: flex;
  justify-content: center;
  border: 1px solid black;
}

.sinPro {
  display: flex;
  align-items: center;
}
