.favorite_container {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100px;
  height: 10px;
  background: rgb(255, 255, 255);
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 1) 0%,
    rgb(191, 39, 39) 100%
  );
  color: #af1cc2;
}

.container_fav {
  height: 100vb;

  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 1) 0%,
    rgba(210, 210, 210, 0.38) 100%
  );
}



.title_fav {
  font-size: 2rem;
  margin-bottom: 20px;
  color: #2c2c2c;
}

.containerCards {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.button_fav {
  width: 200px;
  height: 50px;
  border-radius: 20px;
  border: none;
  background-color: #af1cc2;
  color: white;
  font-size: 1.2rem;
  margin-top: 20px;
  cursor: pointer;
}

/******************************************************************************/

.back_button {
  position: absolute;
  width: 130px;
  height: 40px;
  left: -68px;
  font-size: 14px;
  color: #ffffff;
  background-color: #1d1f24;
  border: none;
  border-radius: 20px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

.back_button:hover {
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.391);
  color: #fff;
  transform: translateY(-2px);
  transition: 0.3s;
  
}

.back_button:active {
  transform: translateY(-1px);
}

.fav_back {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  width: 100%;
  height: 100%;
  color: #af1cc2;
}

.navlink {
  position: relative;
}


.divContainerH1{
  display: flex;
  justify-content: center;
  margin-top: 200px;
}