.mainContainer {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  border: solid rgb(94, 15, 140) 1px;
  border-radius: 20px;
  background-color: rgb(39, 10, 66);
  height: 450px;
  width: 300px;
  margin: 10px;
  padding-bottom: 10px;
}

.mainContainer:hover {
  box-shadow: inset;  
  transition: 0.3s;
}
.card {
  width: 80%;
}

.link {
  padding: 4px 8px;
  background-color: #8a1d8a;
  color: #000000;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 8px;
}

.title {
  text-align: center;
  max-height: 60%;
  color: rgb(156, 17, 184);
  text-decoration: underline;
}
